.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}

.skills__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.skills__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.skills__container > div h3 {
  text-align: center;
  color: var(--color-primary);
}

.skills_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-top: 7px;
}

.skills_details {
  display: flex;
  gap: 1rem;
}

.skills_details-icon {
  flex: none;
  margin-top: 6px;
  color: var(--color-primary);
}

@media screen and (max-width: 1023px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skills_content {
    padding: 1rem;
  }
}

/* ===================== MEDIA QUERY (MOBILES) ====================== */

@media screen and (max-width: 600px) {
  .skills__container {
    gap: 1rem;
  }

  .skills__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
